body{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 0;
}

h1 {
  text-align: center;
  vertical-align: 150px;
  font-size: 5em;
  text-shadow: 3px 3px rgba(0,0,0, 0.5);
  color: #FFF;
}

h2 {
  text-align: center;
  vertical-align: 100px;
  font-size: 3em;
  text-shadow: 2px 2px rgba(0,0,0, 0.5);
  color: #000;
  margin-top: .3em;
  margin-bottom: .6em;
}

a.button {
  border: .3em solid white;
  color: #FFF;
  background-color: rgba(0,0,0, 0.5);
  padding: .5em;
  margin: auto;
  height: 10em;
  text-transform: uppercase;
  font-size: 1.7em;
  text-decoration: none;
}

a.button:hover {
  background-color: #FFF;
  color: rgba(0,0,0, 0.5);
  transition-property: color, background-color;
  transition-duration: 0.4s;
}

a.smallButton{
  border: .1em solid white;
  color: #FFF;
  background-color: rgba(0,0,0, 0.5);
  padding: .2em;
  margin: auto;
  height: 5em;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
}

a.smallButton:hover{
  background-color: #FFF;
  color: rgba(0,0,0, 0.5);
  transition-property: color, background-color;
  transition-duration: 0.4s;
}

a.navArrow{
  font-size: 2em;
  font-weight: 350;
  width: 2em;
  color: rgba(0,0,0, 0.5);
  text-decoration: none;
}

a.navArrow:hover{
  color: #000;
  transition-property: color, background-color;
  transition-duration: 0.4s;
}

img.icon {
  height: 144px;
  width: 256px;
}

/* Page sections:
Mission (personal statement/ summary)
Projects (list of all games made with image, link)
Background (resume)
Contact
*/

div {
  max-width: 100%;
  height: auto; 
  margin: 0px;
  padding: 2% 2%;
}

div.content{
  width: 50%;
  z-index: 1;
  height: auto;
  margin: auto;
  text-align: center;
}

div.project{
  width: auto;
  margin: auto;
  padding: .5% .5%;
  text-align: right;
}

div.navArrow{
  width: 50%;
  z-index: 1;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 0px;
}

.titleSection {
  height: 50vw; /*must be <= ratio of width/height of background image*/
  background-image: url("http://i.imgur.com/11hixgl.png");
  background-repeat: no-repeat;
}

.missionSection {
  background-color: #E6E6E6;
}

.projectsSection {
  background-color: #E6E6E6;
}

.backgroundSection {
  background-color: #E6E6E6;
}

.contactSection {
  background-color: #E6E6E6;
}
