/* ------------------------ GENERAL ------------------------ */
 
body{
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #CCCCFF;
}

p{
  margin: 0em 0em 1em 0em;
}

/* ------------------------ HEADERS ------------------------ */

h1 {
  font-family: 'Amatic SC', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 5em;
}

h2 {
  font-size: 2em;
  margin: 0;
  padding: 0em 0em 0.5em 0em;
}

/* ------------------------ IMAGES ------------------------ */

img.icon {
  margin: 0 auto;
  color: #FFF;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  background-color: transparent;
  max-width: 100%;
  max-height: 300px;
}

img.icon:hover{
  transition: .3s ease-in-out;
  -webkit-filter: none;
  filter: none;
  background-color: transparent;
}


/* ------------------------ DECOR ------------------------ */

hr {
  border: 0;
  height: 0;
  border-top: 5px solid rgba(255, 255, 255, 0.3);
}

/* ------------------------ LAYOUT ------------------------ */

div.container{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

div.title{
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0em 0em 2em 2em;
  text-align: left;
}

div.content{
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 1em;
  text-align: left;
  font-size: 0.7em;
  overflow: hidden;
}

div.content-left{
  display: block;
  float: left;
  width: 30%;
  height: auto;
}

div.content-right{
  display: block;
  float: right;
  width: 67%;
  margin-left: 3%;
  height: auto;
}
