/* ------------------------ GENERAL ------------------------ */

body{
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  margin: 0;
  background-color: #F0D9D3;
}

/* ------------------------ LAYOUT ------------------------ */

div {
  max-width: 100%;
  height: auto; 
  margin: 0px;
  padding: 2% 2%;
  background-color: #8A4259;
}

div.titleSection {
  background-color: #8A4259;
}

nav{
  z-index: 1;
  line-height: 3em;
  height: auto;
  margin: auto;
  text-align: center;
  background-color: #4A2430;
}

/* ------------------------ HEADERS ------------------------ */

h1 {
  text-align: center;
  vertical-align: 100px;
  font-size: 3em;
  color: #FFF;
}

/* ------------------------ LISTS ------------------------ */

ul {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li{
  display: inline-block
}

/* ------------------------ LINKS & BUTTONS ------------------------ */

a.tab {
  display: block;
  font-weight: 500;
  color: #F0D9D3;
  background-color: rgba(0,0,0, 0.5);
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
  height: auto;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
}

a.tabcurrent {
  display: block;
  font-weight: 500;
  color: #000;
  background-color: #F0D9D3;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
  height: auto;
  text-transform: uppercase;
  font-size: 1em;
  text-decoration: none;
}

a.tab:hover {
  background-color: #F0D9D3;
  color: #000;
  transition-property: color, background-color;
  transition-duration: 0.4s;
}